body {
  font-family: sans-serif;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

h1 {
  color: yellow;
  size: 2rem;
}

h2 {
  color: yellow;
}

p {
  color: darkgreen;
}

.choices {
  width: 100%;
}

img {
  width: 10rem;
  height: auto;
  margin: 2rem;
  border: 3px solid darkgreen;
  border-radius: 5px;
}